import { FunctionComponent } from 'react'
import { {{pascalCase name}}Props } from './{{pascalCase name}}.types'
import { Container } from './{{pascalCase name}}.styles'

const {{ pascalCase name }}: FunctionComponent<{{pascalCase name}}Props> = () => {
  return (
    <Container>
      <h1>page: {{titleCase name }}</h1>
    </Container>
  )
}

export default {{ pascalCase name }}
